<div class="panel">
    <h2>Thank you for your order!</h2>
    <p>Your transaction completed sucessfully.</p>
    <p>Order #<%= @order.id %> will be shipping to you, 
    <%= @order.user %>, as soon as possible!</p>
</div>